body{
    background: url(green.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    font-weight: bold;
    color: rgb(8, 71, 8);
    font-size: 70px;
}

.form{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}

.form input{
    padding: 7px;
    background-color: rgb(6, 114, 6);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    transition: ease-in-out 0.3s;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form input:hover{
    background-color: rgb(1, 79, 1);
    font-size: 25px;
    transition: ease-in-out 0.3s;
    border-radius: 7px;
    cursor: pointer;
}

.form button{
    padding: 7px;
    background-color: none;
    border: 2px solid rgb(3, 106, 3);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(3, 106, 3);
    transition: ease-in-out 0.5s;
}

.form a{
    text-decoration: none;
    color: rgb(3, 106, 3);
}

.form button:hover{
    background-color: rgb(8, 71, 8);
    border: 2px solid rgb(8, 71, 8);
    color: white;
    transition: ease-in-out 0.5s;
}

.form a:hover{
    color: white;
}

